@import url('./assets/components/Header/Header.css');
@import url('./assets/components/SearchBar/SearchBar.css');
@import url('./assets/components/Hero/Hero.css');
@import url('./assets/components/About/About.css');
@import url('./assets/components/Skills/Skills.css');
@import url('./assets/components/Contact/Contact.css');
@import url('./assets/components/Footer/Footer.css');
@import url('./assets/components/NavBar/NavBar.css');

@import url('./assets/pages/Privacy/Privacy.css');
@import url('./assets/pages/Terms/Terms.css');
@import url('./assets/pages/NoFound/NotFound.css');

main {
  position: relative;
}

body {
  max-width: 1920px;
  margin: 0 auto;

  font-family: 'IBM Plex', 'Ubuntu', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #292f36;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: #1a1e23;
}

html::-webkit-scrollbar-thumb {
  background: #12f7d6;
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #98faec;
}
